@model ObligatorioProgramacion3.Models.OrdenDetalle

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeDetails.css" />
</head>

<div class="details-container">
    <h1 class="text-center" color="white">Detalles</h1>
  
    <dl">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orden.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plato.Id)
        </dd>
    </dl>
        <div class="button-group">
            <a class="button-link" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="button-link" asp-action="Index">Back to List</a>
        </div>
</div>
