@model CarritoViewModel
@{
    var reservaId = ViewData["ReservaId"] as int?;

}
<div id="carritoContainer">
    <h1>Mi pedido</h1>
    @foreach (var item in Model.Items)
    {
        <div class="carrito-item">
            <div>
                <p>@item.NombrePlato - @item.Cantidad x @item.Precio.ToString("C")</p>
                
            </div>
            <button onclick="eliminarDelCarrito(@item.PlatoId)">Eliminar</button>
        </div>
    }
    <div id="carritoTotal">
        <h3>Total: @Model.Total.ToString("C")</h3>
    </div>
   
    <button class="continuar" onclick="location.href='@Url.Action("PagarReserva", "Pagoes" ,  new { reservaId = reservaId})'">Continuar</button>
</div>