@model CarritoViewModel

<div id="carritoContainer">
    <h1>Mi pedido</h1>
    @foreach (var item in Model.Items)
    {
        <div class="carrito-item">
            <div>
                <p>@item.NombrePlato - @item.Cantidad x @item.Precio.ToString("C")</p>
                
            </div>
            <button onclick="eliminarDelCarrito(@item.PlatoId)">Eliminar</button>
        </div>
    }
    <div id="carritoTotal">
        <h3>Total: @Model.Total.ToString("C")</h3>
    </div>
   
    <button class="continuar" onclick="@Url.Action("PagarReserva", "Pagoes", new { Total = @Model.Total, Platos= Model.Items})"()">Continuar</button>
</div>