@model IEnumerable<ObligatorioProgramacion3.Models.Pago>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/StylesCrudeINDEX.css" asp-append-version="true" />
</head>

<h1>Index</h1>

<p>
    <a class="BotonCreate" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCotizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClimaNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCotizacionNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
