@model IEnumerable<ObligatorioProgramacion3.Models.Pago>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/StylesCrudeINDEX.css" asp-append-version="true" />

</head>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h1>Index</h1>

<p>
    <a class="BotonCreate" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCotizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClimaNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCotizacionNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Id)
                </td>
                <td>
                    <a class="botonesEditDetailsDelete boton-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="botonesEditDetailsDelete boton-details" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="botonesEditDetailsDelete boton-delete" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
