@model ObligatorioProgramacion3.Models.CarritoViewModel

@{
    int? restauranteId = ViewData["restauranteId"] as int?;
    decimal? descuento = ViewData["descuento"] as decimal?;
    int? reservaId = ViewData["reservaId"] as int?;
    decimal? TipoDeCambio = ViewData["TipoDeCambio"] as decimal?;
    string tipoDeCambioJS = TipoDeCambio.ToString();
    tipoDeCambioJS = tipoDeCambioJS.Replace(",", ".");
    decimal? temperatura = ViewData["temperatura"] as decimal?;
    bool? estaLloviendo = ViewData["estaLloviendo"] as bool?;
    string tipoCliente = ViewData["TipoCliente"] as string;
    decimal? subtotalDec = ViewData["Subtotal"] as decimal?;
    decimal? descuentoRaw = (1 - @descuento) *100;
    int descuentoRawInt;


    if (descuentoRaw.HasValue)
    {
        descuentoRawInt = (int)descuentoRaw.Value;
    }
    else
    {

        descuentoRawInt = 0; 
    }
    double? subtotal = null;
    if (subtotalDec.HasValue)
    {
        subtotal = (double)subtotalDec.Value;
    }
    else
    {

        subtotal = 0;
    }
    double? tipoDeCambioDouble = (double)TipoDeCambio.Value;

}

<style>
    #carritoContainer {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #5D4037;
        color: white;
    }

    .carrito-item {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    #carritoTotal {
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.2em;
    }

    .form-group {
        margin: 20px 0;
    }

    .btn-primary {
        background-color: #0056b3;
        border-color: #004085;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #005cbf;
        }</style>




<div id="carritoContainer">

    <h3>Pedido</h3>
    <div>
        @foreach (var item in Model.Items)
        {
            <div class="carrito-item">
                <p>@item.NombrePlato - @item.Cantidad x @item.Precio.ToString("C")</p>
            </div>
        }
    </div>
    <div id="carritoTotal">
        <h5> Subtotal: $@subtotal (USD)</h5>
       
    </div>
    <div class="form-group">
        <label for="currencySelector">Moneda</label>
        <select id="currencySelector" class="form-control" onchange="updateCurrency()">

            <option value="USD">Dólares (USD)</option>

            @if (restauranteId == 1)
            {
                <option value="UYU">Pesos Uruguayos (UYU)</option>
            }
            else if (restauranteId == 2)
            {
                <option value="MXN">Pesos Mexicanos (MXN)</option>
            }
            else
            {
                <option value="EUR">Euros (EUR)</option>
            }
         
        
        </select>
        @if (tipoCliente == "NORMAL")
        {
            <p> Tu tipo de cliente es @tipoCliente</p>
        }
        else if (tipoCliente == "FRECUENTE")
        {
            <p> Tu tipo de cliente es @tipoCliente, obtienes un descuento de 10%</p>
        }
        else
        {
            <p> Tu tipo de cliente es @tipoCliente, obtienes un descuento de 20%</p>
        }

        @if (temperatura < 10 && temperatura > 0)
        {
            <p>La temperatura es °C @temperatura, obtienes un descuento de 5% </p>

        }
        else if (temperatura <= 0)
        {
            <p>La temperatura es °C @temperatura, obtienes un descuento de 10% </p>
        }
        else
        {
            <p>La temperatura es °C @temperatura </p>
        }
        @if (estaLloviendo == true)
        {
            <p>En este momento esta lloviendo en la ciudad, obtienes un descuento de 5% </p>
        }
        else
        {
            <p>En este momento no esta lloviendo en la ciudad </p>
        }
        @if (descuento > 0)
        {
            <p>Su descuento total es @descuentoRawInt%</p>
        }
        else
        {
            <p>No posees un descuento</p>
        }
        <h3>Total: <span id="totalDisplay">@Model.Total.ToString("C")</span></h3>
        @if(restauranteId == 1)
        {
            <p> El tipo de cambio al dia de la fecha es: 1 (USD) = @TipoDeCambio (UYU)</p>
        } else if (restauranteId == 2)
        {
            <p> El tipo de cambio al dia de la fecha es: 1 (USD) = @TipoDeCambio (MXN)</p>
        }
        else
        {
            <p> El tipo de cambio al dia de la fecha es: 1 (USD) = @TipoDeCambio (€)</p>
        }

    </div>
    <form asp-action="ConfirmarPago" method="post">
        <div class="form-group">
            <label for="MetodoPago">Método de Pago</label>
            <select id="MetodoPago" name="MetodoPago" class="form-control" required>
                <option value="">Seleccione un método</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Efectivo">Efectivo</option>

            </select>
            <input type="hidden" name="reservaId" value="@reservaId" />
            <input type="hidden" name="descuento" value="@descuento" />
        </div>
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>

</div>


<script>
    
    
    let tipoDeCambio = parseFloat('@tipoDeCambioJS');
    let totalEnUSD = parseFloat('@Model.Total');

    let totalEnUYU = totalEnUSD * tipoDeCambio;
    let totalEnMXN = totalEnUSD * tipoDeCambio;
    let totalEnEUR = totalEnUSD * tipoDeCambio;

    function updateCurrency() {
        var currency = document.getElementById("currencySelector").value;
        var display = document.getElementById("totalDisplay");

        if (currency === "USD") {
            display.innerHTML = totalEnUSD.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
        } else if (currency === "UYU") {
            display.innerHTML = totalEnUYU.toLocaleString('es-UY', { style: 'currency', currency: 'UYU' });
        } else if (currency === "MXN") {
            display.innerHTML = totalEnMXN.toLocaleString('es-MX', { style: 'currency', currency: 'MXN' });
        } else if (currency === "EUR") {
            display.innerHTML = totalEnEUR.toLocaleString('es-ES', { style: 'currency', currency: 'EUR' });
        }
    }
</script>