@model IEnumerable<ObligatorioProgramacion3.Models.Reseña>

@{
    ViewData["Title"] = "Index";
}

<h2>Reseñas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante.Nombre) <!-- Suponiendo que Restaurante tiene una propiedad Nombre -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre) <!-- Suponiendo que Cliente tiene una propiedad Nombre -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurante.Nombre) <!-- Suponiendo que Restaurante tiene una propiedad Nombre -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre) <!-- Suponiendo que Cliente tiene una propiedad Nombre -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReseña)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
