@using Microsoft.Data.SqlClient;
@model IEnumerable<ObligatorioProgramacion3.Models.Reseña>


@{
    ViewData["Title"] = "Reseñas";
}
<h1>Reseñas</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                Nombre del cliente
            </th>
            <th>
                Nombre del restaurante
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                Fecha de la reseña
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurante.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReseña)
                </td>

            </tr>



        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Agregar Reseña</a>
</p>

