@model IEnumerable<ObligatorioProgramacion3.Models.Ordene>
@using System.Security.Claims

@{
    var isAuthenticated = ViewBag.IsAuthenticated as bool? ?? false;
    var userClaims = ViewBag.UserClaims as List<string>;
}

<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Órdenes Sin Pago</title>
    <style>
        .ordenContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .OrdenMostrar {
            display: flex;
            background-color: #5D4037;
            color: white;
            border-radius: 10px;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            text-align: left;
            flex-direction: column;
        }

            .OrdenMostrar h2, .OrdenMostrar h4 {
                margin-top: 1px;
            }

        .button-link:hover {
            transform: scale(1.10);
            background-color: #48322A;
            color: white;
        }

        .button-link {
            background-color: #D7CCC8;
            color: #5D4037;
            transition: background-color 0.7s ease, color 0.7s ease;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 6px;
        }

        .button-delete {
            background-color: #ed4c4c;
            color: white;
        }

        .BtnsCrearEliminar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }
    </style>
</head>

<body class="Fondo">
    <div class="ordenContainer">
        @foreach (var orden in Model)
        {
            if ((userClaims.Contains("EmpleadoRestauranteUruguay") && orden.Reserva.IdRestaurante == 1) ||
                (userClaims.Contains("EmpleadoRestauranteMexico") && orden.Reserva.IdRestaurante == 2) ||
                (userClaims.Contains("EmpleadoRestauranteEspaña") && orden.Reserva.IdRestaurante == 3))
            {
                <div class="OrdenMostrar">
                    <div>
                        <h4>Orden número: @orden.Id</h4>
                        <p>Reserva ID: @orden.ReservaId</p>
                        <p>Detalles de la Orden:</p>
                        <ul>
                            @foreach (var detalle in orden.OrdenDetalles)
                            {
                                <li>@detalle.Plato.NombrePlato x @detalle.Cantidad - Precio: @detalle.Plato.Precio (USD)</li>
                            }
                        </ul>
                        <p>Total: @orden.Total (USD)</p>
                        <div class="BtnsCrearEliminar">
                            <form method="post" action="@Url.Action("SeleccionarPlato", "Platoes")">
                                <input type="hidden" name="ReservaId" value="@orden.ReservaId" />
                                <button type="submit" class="button-link">Editar</button>
                            </form>
                            <form method="post" action="@Url.Action("PagarReserva", "Pagoes")">
                                <input type="hidden" name="ReservaId" value="@orden.ReservaId" />
                                <button type="submit" class="button-link">Pagar</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>