@model IEnumerable<ObligatorioProgramacion3.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/StylesCrudeINDEX.css" asp-append-version="true" />
</head>

<h1>Index</h1>

<p>
    <a class="BotonCreate" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarios)
            </td>
            <td>
                    <a class="botonesEditDetailsDelete boton-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="botonesEditDetailsDelete boton-details" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="botonesEditDetailsDelete boton-delete" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
