@model ObligatorioProgramacion3.Models.Reserva



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Reserva</title>
    <style>
        .reservaContainer {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .ReservaMostrar {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            text-align: left;
            margin-bottom: 20px;
        }

        .ReservaMostrar h4 {
            margin-top: 0;
        }

        .ReservaMostrar p {
            margin: 5px 0;
        }

        .button-link {
            background-color: #F7EFAA;
            border: 1px solid black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 6px;
        }

        .button-link:hover {
            background-color: #C8BE6F;
        }

        .button-delete {
            background-color: #ed4c4c;
            color: white;
        }

        .BtnsCrearEliminar {
            margin-top: 10px;
        }
    </style>
</head>
<body class="Fondo">
    <div class="reservaContainer">
        <div class="ReservaMostrar">
            <h4>Reserva número: @Model.Id</h4>
            <p>Mesa número: @Model.MesaId</p>
            <p>Fecha: @Model.FechaReserva</p>
            <p>Dirección: @Model.IdRestauranteNavigation.Nombre</p>
            <p>Teléfono: @Model.IdRestauranteNavigation.Teléfono</p>
            <p>Estado: @Model.Estado</p>
            <div class="BtnsCrearEliminar">
            
                
                    <form method="post" action="@Url.Action("SeleccionarPlato", "Platoes")">
                        <input type="hidden" name="ReservaId" value="@Model.Id" />
                        <button type="submit" class="button-link">Pagar</button>
                    </form>
                
                <form method="post" action="@Url.Action("Cancelar", "Reservas")">
                    <input type="hidden" name="ReservaId" value="@Model.Id" />
                    <button type="submit" class="button-link button-delete">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
