@model IEnumerable<Reserva>
@using System.Security.Claims


@{
    var isAuthenticated = ViewBag.IsAuthenticated as bool? ?? false;
    var userClaims = ViewBag.UserClaims as IEnumerable<Claim> ?? Enumerable.Empty<Claim>();
}

<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccione su restaurante de preferencia</title>
    <style>
        .reservaContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .ReservaMostrar {
            display: flex;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 2s;
            text-align: left;
            flex-direction: column;
        }

            .ReservaMostrar img {
                max-width: 200px;
                margin-right: 40px;
            }

        .button-link:hover {
            transform: scale(1.10);
            background-color: #C8BE6F;
        }

        .ReservaMostrar h2, .ReservaMostrar h4 {
            margin-top: 1px;
        }

        .button-link {
            background-color: #F7EFAA;
            border: 1px solid black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 6px;
        }

        .button-delete {
            background-color: #ed4c4c;
            color: white;
           
        }

        .BtnsCrearEliminar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }
    </style>

</head>
<body class="Fondo">
    <div class="reservaContainer">

        @foreach (var Reserva in Model)
        {
            @if (Reserva.Estado == "Confirmada" || Reserva.Estado == "Cancelada")
            {
                <div class="ReservaMostrar">

                    <div>
                        <h4>Mesa numero: @Reserva.MesaId</h4>
                        <p>Fecha: @Reserva.FechaReserva</p>
                        <p>Dirección: @Reserva.IdRestauranteNavigation.Nombre</p>
                        <p>Teléfono: @Reserva.IdRestauranteNavigation.Teléfono</p>
                        <p> Estado: @Reserva.Estado</p>
                    </div>

                </div>
            }
            else
            {
                <div class="ReservaMostrar">

                    <div>
                        <h4>Mesa numero: @Reserva.MesaId</h4>
                        <p>Fecha: @Reserva.FechaReserva</p>
                        <p>Dirección: @Reserva.IdRestauranteNavigation.Nombre</p>
                        <p>Teléfono: @Reserva.IdRestauranteNavigation.Teléfono</p>
                        <p> Estado: @Reserva.Estado</p>
                        <div class="BtnsCrearEliminar">
                           @*  @if (userClaims.Any(c => c.Type == "Permission" && c.Value == "PoderPagarReserva"))
                            { *@
                                <form method="post" action="@Url.Action("SeleccionarPlato", "Platoes")">
                                    <input type="hidden" name="ReservaId" value="@Reserva.Id" />
                                    <button type="submit" class="button-link">Pagar</button>
                                </form>
                           @*  } *@
                            <form method="post" action="@Url.Action("Cancelar", "Reservas")">
                                <input type="hidden" name="ReservaId" value="@Reserva.Id" />
                                <button type="submit" class="button-link button-delete">Cancelar</button>
                            </form>

                        </div>
                    </div>



                </div>
            }
        }
    </div>
</body>
