@model IEnumerable<Reserva>
@using System.Security.Claims


@{
    var isAuthenticated = ViewBag.IsAuthenticated as bool? ?? false;
    var userClaims = ViewBag.UserClaims as IEnumerable<Claim> ?? Enumerable.Empty<Claim>();
    var usuarioId = (int)ViewData["UsuarioId"];
   
}

<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccione su restaurante de preferencia</title>
    <style>
        .reservaContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .ReservaMostrar {
            display: flex;
            background-color: #5D4037;
            color: white;
            
            border-radius: 20px;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 2s;
            text-align: left;
            flex-direction: column;
        }

            .ReservaMostrar img {
                max-width: 200px;
                margin-right: 40px;
            }

        

        .ReservaMostrar h2, .ReservaMostrar h4 {
            margin-top: 1px;
        }

        .button-link {
            background-color: #D7CCC8;
            color: #5D4037;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 6px;
            transition: background-color 0.7s ease, color 0.7s ease;
        }

            .button-link:hover {
                transform: scale(1.10);
                background-color: #48322A;
                color: white;
                transition: transform 1s;
            }

        .button-delete {
            background-color: #ed4c4c;
            color: white;
            transition: transform 1s;
            transition: background-color 0.7s ease, color 0.7s ease;
        }

            .button-delete:hover {
                transform: scale(1.10);
                background-color: red;
                color: white;
            }

        .BtnsCrearEliminar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }

        
    </style>

</head>
<body class="Fondo">
    <div class="reservaContainer">

        @foreach (var Reserva in Model)
        {
            @if ((userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteUruguay") && Reserva.IdRestaurante == 1) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteMexico") && Reserva.IdRestaurante == 2) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteEspaña") && Reserva.IdRestaurante == 3) || (Reserva.UsuarioId == usuarioId)) ;
            {
                @if (Reserva.Estado == "Confirmada" || Reserva.Estado == "Cancelada")
                {
                    if (!userClaims.Any(c => c.Type == "Permission" && c.Value == "VerSoloReservasPendientes"))
                    {
                        <div class="ReservaMostrar">

                            <div class="ReservaFondo">
                                <h4>Reserva numero: @Reserva.Id</h4>
                                <p>Mesa numero : @Reserva.MesaId</p>
                                <p>Fecha: @Reserva.FechaReserva</p>
                                <p>Dirección: @Reserva.IdRestauranteNavigation.Nombre</p>
                                <p>Teléfono: @Reserva.IdRestauranteNavigation.Teléfono</p>
                                <p> Estado: @Reserva.Estado</p>
                            </div>
                        </div>

                    }


                }
                else
                {
                    <div class="ReservaMostrar">

                        <div class="ReservaFondo">
                            <h4>Reserva numero: @Reserva.Id</h4>
                            <p>Mesa numero : @Reserva.MesaId</p>
                            <p>Fecha: @Reserva.FechaReserva</p>
                            <p>Dirección: @Reserva.IdRestauranteNavigation.Nombre</p>
                            <p>Teléfono: @Reserva.IdRestauranteNavigation.Teléfono</p>
                            <p> Estado: @Reserva.Estado</p>
                            <div class="BtnsCrearEliminar">
                                @if (@Reserva.FechaReserva.Date == DateTime.Now.Date && (userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteUruguay") && Reserva.IdRestaurante == 1) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteMexico") && Reserva.IdRestaurante == 2) || (userClaims.Any(c => c.Type == "Permission" && c.Value == "EmpleadoRestauranteEspaña") && Reserva.IdRestaurante == 3))
                                {
                                    <form method="post" action="@Url.Action("SeleccionarPlato", "Platoes")">
                                        <input type="hidden" name="ReservaId" value="@Reserva.Id" />
                                        <button type="submit" class="button-link">Ordenar</button>
                                    </form>
                                }


                                <form method="post" action="@Url.Action("Cancelar", "Reservas")" onsubmit="return confirmCancellation()">
                                    <input type="hidden" name="ReservaId" value="@Reserva.Id" />
                                    <button type="submit" class="button-link button-delete">Cancelar</button>
                                </form>

                            </div>
                        </div>



                    </div>
                }
            }

        }
    </div>
    <script type="text/javascript">
        function confirmCancellation() {
            return confirm('¿Estás seguro de que deseas cancelar esta reserva?');
        }
    </script>
</body>
