@model ObligatorioProgramacion3.Models.Plato

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeCreate.css" asp-append-version="true" />
</head>


<div>
    
    <dl class="row">
        <h3>Estas seguro que deseas borrar esto?</h3>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRestauranteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRestauranteNavigation.Dirección)
        </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="button-link" asp-action="Index">Volver</a>
        </form>
    </dl>
    
    
</div>
