@model ObligatorioProgramacion3.Models.Plato

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/StyleCrudeDetails.css" />
</head>

<div class="details-container">

    <h1 class="text-center" color="white">Detalles</h1>
    <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRestauranteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRestauranteNavigation.Dirección)
        </dd>
    </dl>
    <div class="button-group">
        <a class="button-link" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="button-link" asp-action="Index">Back to List</a>
    </div>
</div>

