@model IEnumerable<Plato>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>@ViewData["Title"]</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccione sus platos de preferencia</title>
    <style>


        .PlatosContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .PlatosMostrar {
            display: flex;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 2s;
            text-align: left;
        }

        .PlatosMostrar img {
                max-width: 200px;
                margin-right: 40px;
            }

        .PlatosMostrar:hover {
                transform: scale(1.05);
            }

        .PlatosMostrar h2 {
                margin-top: 1px;
            }

    </style>
</head>
<body>


    <div class="PlatosContainer">

        @foreach (var plato in Model)
        {
            
                <div class="PlatosMostrar">
                    <img src="@plato.Imagen" alt="Mcdonalds Logo" id="img" />
                    <div>
                    <h4>Plato: @plato.NombrePlato</h4>
                  
                        <p>Descripcion: @plato.Descripción</p>
                        <p>Precio: @plato.Precio</p>
                       
                    </div>

                </div>
       
        }
    </div>


</body>